.dashboard-menu-box a .active {
	font-weight: bold;
	color: #7f2496;
}
.posts-list .table>tbody>tr>td, .posts-list .table>tbody>tr>th, .posts-list .table>tfoot>tr>td, .posts-list .table>tfoot>tr>th, .posts-list .table>thead>tr>td, .posts-list .table>thead>tr>th {
	padding: 8px !important;
	font-size: 14px !important;
	font-weight: normal !important;
}
.form-step-block-input, .post-bike .form-group  {
	position: relative;
}
.tagify__dropdown__wrapper {
	/*border-top: 3px solid #3595f6;*/
}
.table-responsive .dataTables_filter, .table-responsive .render-datatable {
	margin-bottom: 10px;
}
.table-responsive .paginate_button.current {
	padding: 0 !important;
}
.table-responsive .dataTables_filter input {
	border: 1px solid #ccc;
	padding: 6px 10px;
	outline: none;
	margin-bottom: 
}
@media screen and (max-width: 767px) {
	.dashboard-menu-parent {
		margin-bottom: 15px;
	}
	.table-responsive .render-datatable {
		white-space: nowrap;
	}
	.table-responsive .render-datatable .th-inner {
		min-width: 50px;
	}
}