#mtbItemMainParent {
	padding-top: 0;
}
.mtb-left, .mtb-right {
}

.mtb-left {

}

.mtb-right {

}

.mtb-left-image-box {

}

.mtb-right-image-box {

}

.mtb-left-image-box, .mtb-middle-image-box, .mtb-right-image-box {
	text-align: center;
	height: auto;
	max-height: 500px;
}

.mtb-left-image-box>img {

}

.mtb-right-image-box>img {
	transform: scaleX(-1);
}

.mtb-left-image-box>img, .mtb-middle-image-box>img, .mtb-right-image-box>img {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	object-fit: contain;
	height: 200px;
}

.mtb-item-label-box {
	/*background-color: #e5d6f5;*/
	border: 1px solid #e5d6f5;
	margin: 10px 0;
	padding: 5px 10px;
	text-align: center;
}
.mtb-table-separator {
	border-left: 10px solid transparent;
}
.mtb-item-label-box-text {
	font-size: 18px;
	color: #444;
	margin: 0;
	text-align: center;
}
.mtb-item-specs-main-parent {
	margin-bottom: 10px;
}
.mtb-item-specs-box:last-child, .mtb-item-specs-main-parent:last-child {
	margin-bottom: 0;
}
.mtb-item-specs-box-header {
	background-color: #e5d6f5;
	padding: 2px 10px;
}
.mtb-item-specs-box-header-label {
	font-size: 9px;
	text-transform: uppercase;
	vertical-align: middle;
}
.mtb-item-specs-box-body {
	padding: 5px 10px;
}
.mtb-item-label-box-text p, .mtb-item-specs-box-body p {
	color: #444 !important;
}
#bikeModelBox {
	margin-bottom: 15px;
}
#bikeModelBox, #bikeModelBoxs {
	position: sticky;
	top: 50px;
	left: 0;
	margin-left: -10px;
	padding: 10px;
	width: inherit;
	margin-right: -10px;
	background-color: #fff;
	z-index: 999;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	transition: all .2s ease-in-out;
}
.mtb-list-social-box {
	margin-top: 10px !important;
}
#bikeModelBox .mtb-left, #bikeModelBox .mtb-right {
}
