#mtbSingleBikeSpecs .mtb-left {
	width: 100%;
}
#mtbSingleBikeSpecs .mtb-left-image-box > img {
	object-fit: contain;
	height: 200px;
	max-height: 300px;
}
#mtbSingleBikeSpecs .mtb-item-specs-box-header {
	text-align: left !important;
}