.post-bike-form-checkbox-item {
	margin-top: 10px;
}
.post-bike-form-checkbox-item:first-child {
	margin-top: 0;
}
.post-bike-form-checkbox-item .mtb-item-spec-label {
	background-color: #e5d6f5;
    padding: 2px 10px;
    text-transform: uppercase;
    text-align: center;
}
.post-bike-form-checkbox-item .grid-column {
	margin-bottom: 15px;
}
.post-bike-form-checkbox-item .grid-column:last-child {
	margin-bottom: 0;
}
.post-bike-form-checkbox-item .list-label {
	padding: 0 10px 0 0;
}
.main-label-text {
	color: #333 !important;
}
.sub-label-text {
	font-size: 10px;
	color: #aaa;
	margin-bottom: 0;
}
.no-border[type="file"] {
	border: 0 none;
	padding: 5px 0;
	box-shadow: none !important;
	outline: none !important;
}
.post-bike-form-checkbox-item .form-group {
	margin-bottom: 0;
}
.post-bike-form-checkbox-item .form-group input {
	border-radius: 0;
	border-left: 0 none;
	border-right: 0 none;
	border-top: 0 none;
	text-transform: capitalize !important;
}
.capsule-checkbox {
	display: inline-block;
	background-color: #ccc;
	padding: 0 8px;
	border-radius: 20px;
	margin-top: 4px;
	margin-right: 3px;
	transition: all .3s ease-in-out;
}
.capsule-checkbox:last-child {
	margin-right: 0;
}
.capsule-checkbox [type="checkbox"], .capsule-checkbox [type="radio"] {
	margin: 0;
	vertical-align: middle;
}
.capsule-checkbox label {
	font-weight: normal;
	font-size: 12px;
	line-height: 2;
	margin-left: 3px;
	margin-bottom: 0;
	color: #7f2496;
}
.capsule-checkbox:hover {
	background-color: #aaa;
}
.capsule-checkbox:hover label {
	color: #fff;
}
.capsule-checkbox.checked {
	background-color: #7f2496;
}
.capsule-checkbox.checked label {
	color: #fff;
}
.form-step-block {
	margin: 10px 0;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}
.form-step-block-label, .form-step-block-label input {
	text-align: right;
}
.bootstrap-tagsinput {
	max-height: 75px;
	overflow-y: auto;
	width: 100%;
	box-shadow: none;
	border: 0 none;
	border-radius: 0;
	border-bottom: 2px solid #ccc;
	padding-top: 0;
}
.typeAheadInput {
	border: 0 none;
	border-bottom: 2px solid #ccc;
	text-transform: capitalize;
	border-radius: 0;
	transition: all .3s ease-in-out;
	height: auto;
	padding: 0 5px 0 5px;
}
.tagify__tag {
	margin: 5px 5px 0 0;
}
.bootstrap-tagsinput input, .bootstrap-tagsinput .label-info {
	text-transform: capitalize;
}
.bootstrap-tagsinput .label-info {
	font-size: 14px !important;
	font-weight: normal;
	line-height: 2 !important;
}
.bootstrap-tagsinput [data-role="remove"] {
	font-size: 12px !important;
	font-weight: bold;
	vertical-align: middle;
}
.form-step-body {
	margin-bottom: 20px;
}
.post-bike-parent-box {
	overflow: unset;
}
@media screen and (max-width: 767px) {
	.post-bike-form-checkbox-item>ul>li {
		text-align: left !important;
		margin-bottom: 0 !important;
	}
}